* {
    box-sizing: border-box;
}

body {
    background: red;
    padding: 20px 40px 20px 40px;
    margin: 0;
}

.block {
    background: green;
    height: 700px;
    padding: 5px;
    display: flex;
    overflow: auto;
}

.block_1 {
    display: inline-block;
    min-width: 300px;
    background: blue;
    height: 100%;
    margin: 5px;
    padding: 10px;
    overflow-y: auto;
}

.block_2 {
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, white, black);
    margin-bottom: 10px;
}

.block_3 {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, white, black);
    margin-bottom: 10px;

}

.block_4 {
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, white, black);
    margin-bottom: 10px;
}

.block_5 {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, white, black);
}

.block_6 {
    width: 100%;
    height: 300px;
    background: linear-gradient(45deg, red, #5a73ff);
    margin-bottom: 10px;
    padding: 10px;
}

.mini_box {
    width: 100%;
    height: 100%;
    background: yellow;
}

.block_7 {
    width: 100%;
    height: 100px;
    background-color: yellow;
    margin-bottom: 10px;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    position: relative;
}

.block_7:hover {
    width: 100%;
    height: 100px;
    background: cornflowerblue;
    box-shadow: 0 20px 28px rgba(0,0,0,0.3), 0 15px 10px rgba(0,0,0,0.22);
    margin-bottom: 10px;
}

.block_8 {
    width: 100%;
    height: 300px;
    background-color: yellow;
    margin-bottom: 10px;
}

.block_9 {
    width: 100%;
    height: 100px;
    background-color: yellow;
}